#pageLanding {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 26px;
}

#pageLanding .wrapper {
  background: url("../../images/landingKids.svg") no-repeat 75% center;
  background-size: contain;

  position: relative;

  width: 100%;
  max-width: 1100px;

  height: 100%;
  max-height: 700px;

  display: flex;
  align-items: flex-start;
  flex-direction: column;

  /*   justify-content: space-between;
 */
}

#pageLanding .wrapper main {
  max-width: 350px;
}

#pageLanding .wrapper main h1 {
  font-size: 80px;
  font-weight: 900;
  line-height: 75px;
}

#pageLanding .wrapper main p {
  margin-top: 36px;
  font-size: 24px;
  line-height: 34px;
}

.wrapper .location {
  position: absolute;
  top: 0;
  right: 0;

  font-size: 24px;
  line-height: 34px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.wrapper .location strong {
  font-weight: 800;
}

.wrapper .enterApp {
  position: absolute;
  bottom: 0;
  right: 0;

  width: 80px;
  height: 80px;
  background: #ffd666;
  border-radius: 30px;

  text-decoration: none;
  color: #8d734b;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.2s;
}

.wrapper .enterApp:hover {
  background: #96feff;
  color: #15c3d6;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: #333;
  }

  #pageLanding .wrapper {
    background: url("../../images/landingKids.svg") no-repeat 80% 120%;
    background-size: contain;
  }
  #pageLanding {
    padding: 0px 0px 0px 40px;
    /* padding-left: 40px;
    padding-top: 0px; */
  }

  #pageLanding .wrapper main {
    margin-top: 20px;
    /* max-width: 200px; */
    justify-content: center;
  }

  #pageLanding .wrapper main h1 {
    font-size: 40px;
    line-height: 36px;
  }

  #pageLanding .wrapper main p {
    margin-top: 24px;
    font-size: 20px;
    line-height: 26px;
  }

  .wrapper .location {
    /*     position: initial;
    display: flex;
    align-items: flex-start;
    margin-top: 60px; */
    position: absolute;
    right: auto;
    top: auto;
    left: 0px;
    bottom: 60px;
    align-items: flex-start;
  }

  .wrapper .enterApp {
    position: absolute;
    right: 60px;
    bottom: 60px;

    width: 60px;
    height: 60px;
    border-radius: 15px;
  }
}
