* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  background: #ebf2f5;
}

body,
input,
button,
textarea {
  font-family: Nunito, sans-serif;
  font-weight: 600;
  font-size: 18px;
}
